<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anish.assistant">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".assistantHelper.AssistanceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen">
        <activity
            android:name=".login.LoginHome">
<!--
        <activity
            android:name=".practice.CoordinateDemo">
-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".dashBoard.DashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"/>
        <activity android:name=".myNotes.MyNotesActivity"/>
        <activity android:name=".myNotes.AddNoteActivity"/>
        <activity android:name=".myNotes.UpdateMyNoteActivity"/>
        <activity android:name=".myCalendar.MyCalendarActivity"/>
        <activity android:name=".myCalendar.AddCalendarEventActivity"/>
        <activity android:name=".myCalendar.UpdateCalendarEventActivity"/>
        <activity android:name=".myExpense.MyExpenseActivity"/>
        <activity android:name=".myExpense.AddExpenseActivity"/>
        <receiver
            android:name=".assistantHelper.AlarmHelper"
            android:enabled="true">
        </receiver>
    </application>

</manifest>